*{
    padding:0;
    margin:0;
}


@font-face{
    font-family: myDidot;
    src:url("didot.ttf");
}

@font-face{
    font-family: myAvenir;
    src:url("avenir.otf");
}

body{
    font-family: myDidot, "Century Gothic";
}

.container{
    height:100%;
    width:100%;
}

#containerMain{
    position:absolute;
    background-color: rgb(249, 220, 236);
    display:none;
}
header{
    position:relative;
    padding-top:225px;
    text-align:center;
    color:white;
    font-size:4em;
    margin:auto;
}

#containerMain > img{
    position:relative;
    display:block;
    width:162px;
    margin:auto;
    border-radius:50px;
    opacity:0.8;
}

#containerMain > img:hover{
    opacity:1;
}

footer{
    position:relative;
    font-size: 1.25em;
    color:white;
    margin-top:25px;
    text-align:center;
    font-style:italic;
}

#containerSec{
    position:absolute;
    background-color:white;
    text-align:center;
    display:none;
}

#containerSec > #logon1{
    position:relative;
    width:81px;
    height:75px;
    background:url("logo2.jpg") center;
    background-size:81px 75px;
    top:25px;
    margin:auto;
    right:50px;
}
#containerSec > #topHeader{
    position:relative;
    font-size:2.5em;
    margin-left:15px;
    right:50px;
}
#containerSec > .aligntop{
    display:inline-block;
    margin-top:100px;

}

#containerSec > ul{
    position:relative;
    margin-top:20px;
    text-align:center;
}

#containerSec > ul > li{
    position:relative;
    display:inline-block;
    border-radius:10px;
    width:185px;
    font-size:0.9em;
    margin:0 -1px;
}

#containerSec > ul > li > a{
    text-decoration: none;
    display:block;
    color:black;
}

#containerSec > ul > li > ul{
    position:absolute;
    margin-top:-1px;
    list-style-type:none;
    width:97%;
    left:1.5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
    font-family: myAvenir;
}

#containerSec > ul > li > ul > li{
    position:relative;
    line-height:40px;
    display:none;
    text-align:left;
}

#containerSec > ul > li > ul > li > a{
    text-decoration:none;
    color:black;
    padding-left:30px;
    display:block;


}

#containerSec > ul > li:hover > ul > li{
    display:block;
}

li.last{
    padding-bottom:20px;
}
li span{
    position:absolute;
    left:5px;
}

#l1{
    background-color:rgb(249, 220, 236);
}

#i1{
    background-color:rgba(249, 220, 236, 0.16);
}

#l2{
    background-color:rgb(249, 221, 252);
}

#i2{
    background-color:rgba(249, 221, 252, 0.31);
}
#l3{
    background-color:rgb(215, 252, 248);
}
#l4{
    background-color:rgb(205, 249, 212);
}
#i4{
    background-color:rgba(205, 249, 212, 0.31);
}
#l5{
    background-color:rgb(254, 242, 215);
}

#i5{
    background-color:rgba(254, 242, 215, 0.16);
}

#containerSec > ul > li > #i1 a:hover{
    background-color:rgba(249, 220, 236, 0.41);
}

#containerSec > ul > li > #i2 a:hover{
    background-color:rgba(249, 221, 252, 0.41);
}

#containerSec > ul > li > #i4 a:hover{
    background-color:rgba(205, 249, 212, 0.41);
}

#containerSec > ul > li > #i5 a:hover{
    background-color:rgba(254, 242, 215, 0.41);
}

@media screen and (max-width:557px){
    #containerSec > #topHeader{
        right:0;
    }
    #containerSec > #logon1{
        right:0;
    }
    #containerSec > ul > li{
        width:225px;
    }
    #containerSec > ul > li:hover > ul{
        z-index:2;
    }
}