*{
    padding:0;
    margin:0;
}


@font-face{
    font-family: myDidot;
    src:url("didot.ttf");
}

@font-face{
    font-family: myAvenir;
    src:url("avenir.otf");
}

body{
    font-family: myDidot, "Century Gothic";
}

.container{
    height:100%;
    width:100%;
}

#containerMain{
    position:absolute;
    background-color: rgb(249, 220, 236);
    display:none;
}
header{
    position:relative;
    padding-top:225px;
    text-align:center;
    color:white;
    font-size:4em;
    margin:auto;
}

#containerMain > img{
    position:relative;
    display:block;
    width:162px;
    margin:auto;
    border-radius:50px;
    opacity:0.8;
}

#containerMain > img:hover{
    opacity:1;
}

footer{
    position:relative;
    font-size: 1.25em;
    color:white;
    margin-top:25px;
    text-align:center;
    font-style:italic;
}

#containerSec{
    position:absolute;
    background-color:white;
    text-align:center;
}

#containerSec > #fixed{
    position:fixed;
    background-color:white;
    width:100%;
    z-index:3;
}

#containerSec #logon1{
    position:absolute;
    top:18px;
    width:81px;
    height:75px;
    background:url("logo2.jpg") center;
    background-size:81px 75px;
    margin:auto;
    left:0;
    right:400px;
}
#containerSec #topHeader{
    position:relative;
    font-size:2.5em;
}

.aligntop{
    top:25px;
}

#containerSec > #fixed > ul{
    padding:2px 0;
    position:relative;
    margin-top:40px;
    text-align:center;
    border:2px solid black;
    border-left:0;
    border-right:0;
    z-index:3;
}

#containerSec > #fixed > ul > li{
    position:relative;
    display:inline-block;
    border-radius:5px;
    width:185px;
    font-size:0.9em;
    margin:0 2%;
}

#containerSec > #fixed > ul > li > a{
    text-decoration: none;
    display:block;
    color:black;
}

#containerSec > #fixed > ul > li > ul{
    position:absolute;
    margin-top:-1px;
    list-style-type:none;
    width:97%;
    left:1.5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
    font-family: myAvenir;
}

#containerSec > #fixed > ul > li > ul > li{
    position:relative;
    line-height:40px;
    z-index:2;
    display:none;
    text-align:left;
}

#containerSec > #fixed > ul > li > ul > li > a{
    text-decoration:none;
    color:black;
    padding-left:30px;
    font-size:0.9em;
    display:block;


}

#containerSec > #fixed > ul > li:hover > ul > li{
    display:block;
}

#containerSec > #fixed > ul > li > ul > li:hover > a{
    padding-left:40px;
}

li.last{
    padding-bottom:20px;
}
li span{
    position:absolute;
    left:5px;
}

#l1{
    background-color:rgb(249, 220, 236);
}

#i1{
    background-color:rgba(249, 220, 236, 0.16);
}

#l2{
    background-color:rgb(249, 221, 252);
}

#i2{
    background-color:rgba(249, 221, 252, 0.31);
}
#l3{
    background-color:rgb(215, 252, 248);
}
#l4{
    background-color:rgb(205, 249, 212);
}
#i4{
    background-color:rgba(205, 249, 212, 0.31);
}
#l5{
    background-color:rgb(254, 242, 215);
}

#i5{
    background-color:rgba(254, 242, 215, 0.16);
}

#containerSec > #fixed > ul > li > #i1 a:hover{
    background-color:rgba(249, 220, 236, 0.41);
}

#containerSec > #fixed > ul > li > #i2 a:hover{
    background-color:rgba(249, 221, 252, 0.41);
}

#containerSec > #fixed > ul > li > #i4 a:hover{
    background-color:rgba(205, 249, 212, 0.41);
}

#containerSec > #fixed > ul > li > #i5 a:hover{
    background-color:rgba(254, 242, 215, 0.41);
}

#containerSec > #containerLeft{
    position:relative;
    width:20%;
    height:100%;
}

#containerSec > #containerMid{
    position:relative;
    width:50%;
    margin-left:5%;
    height:100%;
}

#containerSec > #containerRight{
    position:relative;
    width:20%;
    margin-left:5%;
    height:100%;

}

.body{
    float:left;
    margin-top:175px;
}

#containerSec > #containerMid > img{
    position:absolute;
    left:0;
}

#containerRight > p{
    font-style:italic;
    font-size:1.25em;
    margin-top:5px;
    width:75%;
    border-bottom:2px solid black;
    padding-bottom:4px;
    margin:auto;
}